@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-family: sans-serif;
  background: #f6f9fa;
}
/* 
h1 {
  color: #ccc;
  text-align: center;
} */

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
  width: 95%;
  margin: 0 auto;
  padding-top: 70px;
  position: relative;
  height: 1000px;
}

input,
.sec {
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  display: flex !important;
  justify-content: space-around !important;
  height: 100px;
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 14.27%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3 {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #37b6ff;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #37b6ff;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 900px) {
  label span {
    display: none;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.no_wrap {
  text-align: center;
  color: #37b6ff;
}
.link {
  text-align: center;
}

/* .ul-training .li-training:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -30px;
  margin-top: -0.9em;
  background: #f69ec4;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.ul-training {
  display: block;
  margin-left: -10px;
}

.ul-training .li-training {
  display: block;
  position: relative;
}

.ul-training .li-training:not(:last-child) {
  margin-bottom: 16px;
} */
#content3 ul,
#content5 ul,
#content7 ul {
  list-style: none !important;
  padding: 0 !important;
}
#content3 ul li,
#content5 ul li,
#content7 ul li {
  padding-bottom: 10px !important;
  font-size: 16px;
}
.check-icon {
  font-size: 20px !important;
  padding-right: 4px !important;
  color: #37b6ff !important;
}
@media screen and (max-width: 1366px) {
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .iconnn {
    font-size: 2em !important;
  }
}
.iconnn {
  font-size: 2em;
}
